.reserva-container {
  position: relative;
  padding: 30px;
  font-family: Arial, sans-serif;
  max-width: 500px;
  margin: 0 auto;
}

.reserva-container h2 {
  margin-bottom: 20px 0;
}

.reserva-container form {
  display: flex;
  flex-direction: column;
}

.reserva-container form > * {
  margin-bottom: 12px;
}


.reserva-container label {
  margin-top: 10px;
  font-weight: bold;
}

.reserva-container input,
.reserva-container select {
  padding: 8px;
  margin-bottom: 10px;
}

.reserva-container button {
  position: relative;
  padding: 12px;
  font-size: 16px;
  background-color: white;
  color: black;
  border: none;
  cursor: pointer;
  margin-top: 10px;
}

.reserva-container button:hover {
  background-color: white;
}

.mensaje {
  margin-top: 20px;
  font-weight: bold;
}

.mensaje.exito {
  color: green;
}

.mensaje.error {
  color: red;
}


.flatpickr-day.ocupado {
  background: #e74c3c !important;
  color: white;
  cursor: not-allowed;
}

.flatpickr-day.parcial {
  background: #f1c40f !important;
  color: black;
}

.flatpickr-day.disponible {
  background: #2ecc71 !important;
  color: white;
}

.flatpickr-day.pasado {
  background: #bbb !important;
  color: white !important;
  cursor: not-allowed;
}

.calendarios-mes {
  display: flex;
  flex-direction: row;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
}

.grid-calendario {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 6px;
}

.grid-calendario .dia {
  width: 100%;
  padding: 10px;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-weight: bold;
}

.grid-calendario .ocupado {
  background-color: #e74c3c;
  color: white;
  cursor: not-allowed;
}

.grid-calendario .parcial {
  background-color: #f1c40f;
  color: black;
}

.grid-calendario .disponible {
  background-color: #2ecc71;
  color: white;
}

.grid-calendario .pasado {
  background-color: #bbb;
  color: white;
  cursor: not-allowed;
}

/* Oculta el input visible en modo soloLectura */
.flatpickr-wrapper-visual input {
  display: none !important;
}

/* Asegura que el calendario siga visible */
.flatpickr-wrapper-visual .flatpickr-calendar {
  position: static !important;
  visibility: visible !important;
  opacity: 1 !important;
  display: block !important;
  z-index: auto;
  transform: none !important;
  top: auto !important;
  left: auto !important;
}

